<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        Bienvenue sur Seaty !
      </h1>

      <p class="subtitle">
        Votre plateforme de location de véhicules à Hyères. Des voitures de qualité pour toutes vos aventures dans la ville. Commencez votre voyage avec Seaty aujourd'hui.
      </p>
    </div>
  </div>
</section>
