<p>Merci pour votre commande!</p>

<p>
  Voici les détails de votre commande :
  <!-- Ajoutez ici les détails de la commande -->
</p>

<p>Adresse du magasin : <%= @store.address %></p>

<p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>
